<h1>Listing queries</h1>

<% @queries.each do |query| %>
  <p><%= query.title %></p>
  <pre>
<%= query.content %>
  </pre>
  <p>
    <%= link_to 'Run', run_query_path(query) %> |
    <%= link_to 'Show', query %> |
    <%= link_to 'Edit', edit_query_path(query) %> |
    <%= link_to 'Destroy', query, :confirm => 'Are you sure?', :method => :delete %>
  </p>
<% end %>

<br />

<%= link_to 'New Query', new_query_path %>
